<form ng-submit="submit()" name="changepassword" class="form-signin" novalidate>
    <h2 class="form-signin-heading text-muted">Change password</h2>
    <input name="oldpassword" ng-model="oldpassword" type="password"  class="form-control"  placeholder="Old password" required>
    <input name="password" ng-model="password" type="password"  class="form-control"  placeholder="New password" required>
    <input name="password_confirm" ng-model="password_confirm" type="password"  class="form-control"  placeholder="Confirm new password" validate-equals='password'>
    <p class="help-block" ng-show="changepassword.password_confirm.$dirty && changepassword.password_confirm.$invalid">please match the password</p>
    <button ng-disabled="changepassword.$invalid" class="btn btn-lg btn-primary btn-block" type="submit" value="Change password">
        Change password
    </button>
</form>

